@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gill Sans';
  src: url('../fonts/Gill Sans.woff2');
}

@font-face {
  font-family: 'Gill Sans';
  font-style: italic;
  src: url('../fonts/Gill Sans Italic.woff2');
}

@font-face {
  font-family: 'Gill Sans';
  font-weight: 500;
  src: url('../fonts/Gill Sans Medium.woff2');
}

@font-face {
  font-family: 'Gill Sans';
  font-weight: 500;
  font-style: italic;
  src: url('../fonts/Gill Sans Medium Italic.woff2');
}